
body {
    background-image: url("https://assets.website-files.com/5c83cfc33645873957fce436/5c9011c0a578c0219846cedb_bg-hero.jpg");
}

img{
    width: 50px;
    height: 50px;
    cursor: pointer;   
    transition: transform 200ms cubic-bezier(0, -0.63, 1, 1.83);
}

img:hover {
    transform: scale(1.6);

}
