.banner {
    box-sizing: border-box;
    background-image: url("https://assets.website-files.com/5c83cfc33645873957fce436/5c9011c0a578c0219846cedb_bg-hero.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    height: 800px;
    border-bottom: 4mm ridge rgba(133, 121, 138, 0.6);

    padding-top: 115px;
    padding-left: 90px;


}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 640px;
}

.banner .box {
    margin-bottom: 40px;
}

.banner .navigation {
    display: flex;
    justify-content: space-around;
}