.main-title {
    color: #fff;
    font-family: 'Audiowide', cursive;
    font-size: 40px;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}

/* EXPERIMENTO DE FONTES

font-family: 'Press Start 2P', sans-serif;
font-family: 'Fira Code', sans-serif;

font-family: 'Audiowide', cursive;
font-family: 'DotGothic16', sans-serif;
font-family: 'JetBrains Mono', monospace;
font-family: 'Saira Stencil One', cursive;
font-family: 'VT323', monospace;
*/

.main-title.-second {
color: #fff;
text-align: center;
font-family:'Press Start 2P', sans-serif;
}