.main-section {
background-color: #000;
padding-top: 50px;
padding-bottom: 50px;
border-bottom: 4mm ridge rgba(133, 121, 138, 0.6);

}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgBlack {
    background-color: #000;

}

.main-section.-bdFirst {
    border-color: rgb(28, 109, 35)
}

.main-section.-bgSecond {
    background-color: #7C5E99;
    
}
.main-section.-bdBlack {
    border-color: #000;
}