.progress-bar {
    box-sizing: border-box;
    background-color: rgb(149, 47, 153);
    border: 9px solid rgb(255, 252, 252);
    height: 40px;

}
.progress-bar::-webkit-progress-bar {
    background-color: #fff;
}
.progress-bar::-webkit-progress-value {
    background-color: #0ab442;
}